@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,500;0,700;1,200;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15vh 80vh 5vh;
}
header{
    display: grid;
    grid-template-rows: 80% 20%;
    font-size: 22px;
}
.logo{
    justify-self: center;
    align-self: center;
}
.links{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}
header a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 500;
}
main{
    background-color: blue;
}
footer{
    background-color: aqua;
}